#texto1{
    display: ;
    font-size: 50px;
    font-weight: 100px;
    font-family: "Playwrite SK";
    color: #de2828;
    background-color: rgb(232, 106, 106);
    text-align: center;
    border-radius: 50px;
    border: black 40px dotted;
    padding: 10px;
    margin: 20px;
}